html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wr {
  max-width: 1035px;
  min-width: 320px;
  margin: 50px auto 0 auto;
  position: relative;
  padding: 0;
}

.wr:after {
  content: '';
  display: table;
  clear: both;
}

.composition, .time, .total-amount {
  min-width: 265px;
}

.ISS-located, .time {
  min-height: 24px;
}

.ISSPositionOnMap {
  height: 480px;
}

.ISS-located, .ISSPositionOnMap {
  min-width: 750px;
}

.composition,
.time,
.ISS-located,
.ISSPositionOnMap,
.total-amount {
  margin: 5px;
  float: left;
  border: 2px solid silver;
  padding: 10px;
}

.composition {
  height: 430px;
  overflow: auto;
  margin-bottom: 0;
  border-bottom: none;
}

.astronaut-avatar {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
}

.astronaut {
  box-shadow: 0 0 5px #455;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  line-height: 35px;
}

.total-amount {
  height: 50px;
  line-height: 48px;
  text-align: center;
  margin: 0 0 0 5px;
  padding: 0;
}

agm-map {
  height: 455px;
}
